<div align = "center">
  <h1>Welcome to the Image Sharer</h1>
  <h3> <%= link_to 'Upload image using url', new_image_path %> </h3>
  <h2>List of existing images</h2>
  <div>
    <% @images.each do |f| %>
        <p>
          <%= image_tag(f.url, width: '400') %>
        </p>
    <% end %>
  </div>
</div>
